// SPDX-License-Identifier: (GPL-2.0+)
/*
 * Copyright (C) 2021 ChalesYu <574249312@qq.com>
 */

#include "sun50i-h6-beelink-gs1.dts"

/ {
	model = "Shan Bei H6";
	compatible = "azw,beelink-gs1", "allwinner,sun50i-h6";

/* copy from Orange Pi Lite2 dts */
	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rtc 1>;
		clock-names = "ext_clock";
		reset-gpios = <&r_pio 0 8 GPIO_ACTIVE_LOW>; /* PL8 */
		post-power-on-delay-ms = <200>;
	};

};

//pio for i2c3 and ac200 , emac power
&reg_aldo2 {
//tanix tx6 don't have PMU
//use this ugly solution
	regulator-always-on;
};

//from orange pi dtsi
&pio {
	vcc-pc-supply = <&reg_bldo2>;
	vcc-pd-supply = <&reg_cldo1>;
	vcc-pg-supply = <&reg_aldo1>;
};

//i2c3
&i2c3_pins {
	drive-strength = <20>;
	bias-pull-up;
};
&i2c3 {
	status = "okay";
};

//AC200
&pwm {
	status = "okay";
};

&ac200_pwm_clk {
	status = "okay";

};

&ac200 {
	interrupt-parent = <&pio>;
	interrupts = <1 20 IRQ_TYPE_LEVEL_LOW>; //PB20 for H6
	interrupt-controller;
	interrupt-cells = <1>;
	clocks = <&ac200_pwm_clk>;
	status = "okay";
};

&ac200_ephy {
	clocks = <&ac200_pwm_clk>;
	status = "okay";
};

//board using ac200-ephy but not rtl8211
&emac {
	pinctrl-names = "default";
	pinctrl-0 = <&ext_rmii_pins>;
	phy-mode = "rmii";
	phy-handle = <&ext_rgmii_phy>;
	phy-supply = <&reg_aldo2>;
	allwinner,rx-delay-ps = <200>;
	allwinner,tx-delay-ps = <200>;
	status = "okay";
};

// MMC devices
/* sdcard */
&mmc0 {
	vmmc-supply = <&reg_cldo1>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>; /* PF6 */
	bus-width = <4>;
	status = "okay";
};

/* SDIO WiFi */
&mmc1 {
	vmmc-supply = <&reg_cldo3>;
	vqmmc-supply = <&reg_bldo3>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	non-removable;
	status = "okay";

	/* copy from Orange Pi Lite2 dts */
	brcm: sdio-wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
		interrupt-parent = <&r_pio>;
		interrupts = <1 0 IRQ_TYPE_LEVEL_LOW>; /* PM0 */
		interrupt-names = "host-wake";
	};

};

/* eMMC */
&mmc2 {
	vmmc-supply = <&reg_cldo1>;
	vqmmc-supply = <&reg_bldo2>;
	max-frequency = <150000000>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	cap-mmc-hw-reset;
	non-removable;
	bus-width = <8>;
	status = "okay";
};

/* copy from Orange Pi Lite2 dts */
/* There's the BT part of the AP6255 connected to that UART */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>, <&uart1_rts_cts_pins>;
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "brcm,bcm4345c5";
		clocks = <&rtc 1>;
		clock-names = "lpo";
		device-wakeup-gpios = <&r_pio 1 2 GPIO_ACTIVE_HIGH>; /* PM2 */
		host-wakeup-gpios = <&r_pio 1 1 GPIO_ACTIVE_HIGH>; /* PM1 */
		shutdown-gpios = <&r_pio 1 4 GPIO_ACTIVE_HIGH>; /* PM4 */
		max-speed = <1500000>;
	};
};

